// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  mixing  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
@mixin flexBox($value1) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $value1;
}

@mixin gridBox{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    align-items: center;
    justify-items: center;
}

@mixin  height-width($height,$width){
    height: $height;
    width: $width;
}