// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  mixing  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
@mixin flexBox($value1) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $value1;
}

@mixin gridBox{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
}

@mixin  h-w-full{
    height: 100%;
    width: 100%;
}