// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  bg & body color variables  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
$calculator-body-color: #2196f3;
$display-bg-color: #e4f2fd;
$equal-btn-bg-color: #ff9317;
$equal-btn-h-bg-color: #e77b00;
$button-bg-color: #1664c0;
$button-h-bg-color: #004a9f;

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  color variables  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
$heding-color: #ff0100;
$display-font-color: #09090a;
$button-color: #f5f8f6;
$button-a-color: #00e84d;

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  size variables  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
$btn-text-size: 2rem;