// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  bg & body color variables  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
$button-bg-color: #1664c0;
$display-bg-color: #e4f2fd;
$calculator-body-color: #2196f3;
$equal-btn-bg-color: #ff9317;



// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  color variables  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
$heding-color: #ff0100;
$display-font-color: #09090a;
$button-color: #f5f8f6;
$light-color: #fae9ca;
$pink-color: rgb(251, 174, 187);
$btn-text-size: 2rem;

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  bg color variables  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~